body {
    background-color: black;
    color: white;  
}
#header {
    color:rgb(17, 204, 195);
    font-size: 50px;
    height: 70px;
    margin: 0px auto 0px auto;
    padding-top: 20px;
    text-align: center;
    border: 5px solid rgb(231, 17, 160);
}
#images {
    text-align: center;
}
.image {
    width: 300px;
    height: 200px;

}
#instructions {
    font-size: 18px;
    line-height: 25px;
    width: 40%;
    margin: 0px auto;
}
#instructionsHead {
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}
#random-number-text {
    height: 50px;
    width: 40%;
    font-size: 30px;
    background-color: rgb(10, 109, 175);
    margin: 10px auto 0px auto;
    text-align: center;
}
#total-score {
    height: 50px;
    width: 40%;
    font-size: 30px;
    background-color: rgb(10, 109, 175);
    margin: 0px auto;
    text-align: center;
}
#wins {
    height: 30px;
    width: 40%;
    font-size: 20px;
    background-color: rgb(10, 109, 175);
    margin: 0px auto;
    
}
#losses {
    height: 30px;
    width: 40%;
    font-size: 20px;
    background-color: rgb(10, 109, 175);
    margin: 0px auto;
}
#scorecard {
    height: 40px;
    width: 40%;
    font-size: 20px;
    background-color: rgb(10, 109, 175);
    margin: 0px auto;
    text-align: center;
}
