body {
    background-color: black;
    color: white;
    
}


#header {
    color:rgb(17, 204, 195);
    font-size: 50px;
    margin: 20px auto 50px auto;
    text-align: center;
    border: 5px solid rgb(231, 17, 160);
}

#images {
    text-align: center;
}
.image {
    width: 300px;
    height: 200px;

}
#instructions {
    font-size: 23px;
    line-height: 30px;
    width: 40%;
    margin: 0px auto;
}
#instructionsHead {
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}

